@charset "utf-8";

h1 {
	text-align: center;
}

p.source {
	text-align: right;
	font-size: 0.8rem;
}

a {
	color: #386ACD;
	text-decoration: none;
}

span.underline {
	text-decoration: underline;
}

span.keyword {
	font-family: monospace;
	background: lightpink;
}

p.code {
	font-family: monospace;
	background: lightpink;
}

span.element {
	color: green;
	font-weight: bold;
}

span.id {
	color: blue;
	font-weight: bold;
}

span.property-name {
	color: green;
	font-weight: bold;
}

