header {
    text-align: center;
}

a {
    color: #386ACD;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.element {
    font-family: serif;
    background: lightpink;
}

.copyright {
    font-size: 13px;
    text-align: center;
}